<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.securenotes">
    <uses-permission android:name="com.google.android.gm.permission.WRITE_GMAIL" />
    <uses-permission android:name="com.google.android.gm.permission.AUTO_SEND" />


    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecureNotes">
        <activity
            android:name=".AboutActivity"
            android:exported="true"
            android:parentActivityName=".NotesActivity"/>
        <activity
            android:name=".NoteDetails"
            android:exported="true"
            android:parentActivityName=".ShowActivity" />
        <activity
            android:name=".ShowActivity"
            android:exported="true"
            />
        <activity
            android:name=".NotesActivity"
            android:exported="true"
            android:parentActivityName=".ShowActivity"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:noHistory="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:noHistory="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>